/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    max-width: 100%;
    height: auto;
}
/* *,*::before,*::after{
    box-sizing: border-box;
} */
a{
    text-decoration: none;
}

.block{
    display: block;
}
body{
    font-size: 24px;
    line-height: 36px;
}
.mb1{
    margin-bottom: 8px;
}
.mb2{
    margin-bottom: 16px;
}
.mb3{
    margin-bottom: 24px;
}
.ml3{
    margin-left: 24px;
}
.mb4{
    margin-bottom: 32px;
}
.mb5{
    margin-bottom: 40px;
}
.mb6{
    margin-bottom: 48px;
}
.mb9{
    margin-bottom: 72px;
}
.mb10{
    margin-bottom: 80px;
}
.pt3{
    padding-top: 24px;
}
.container{
    max-width: 960px;
    margin: 0 auto;
}
.introTitle{
    font-size: 80px;
    line-height: 106px;
    font-weight: 500;
    padding-bottom: 3px;
    border-bottom: 2px solid #000;
}
.introTitle a{
    color: #000;
}
.subIntroTitle{
    font-size: 32px;
    line-height: 45px;
    border-bottom: 1px solid #000;
    padding-bottom: 8px;
}
.subIntroTitle span{
    font-size: 24px;
    color: #A00404;
    margin-left: 16px;
}
.subIntroTitle-main span{
    color: #fff;
}
.subIntroTitle-main{
    text-align: center;
    border-bottom: 1px solid #fff;
}
.darkBlueBanner{
    color: #fff;
    background:#415165 ;
}
.skills{
    width: 996px;
    margin: 0 auto;
}
.skillsList{
    max-width: 212px;
    margin: 0 auto;
    margin-top: 37px;
}
.listLine,.workExperience ul{
    padding-left: 24px;
    border-left: 1px solid #96A9C4;
}
.skillsList li{
    margin-bottom: 16px;
}
.workExperience li{
    margin-bottom: 24px;
}
.workExperience p{
    font-size: 20px;
}
.skills,.footer{
    padding-top: 31px;
    padding-bottom: 36px;
}
.contactMethod{
    text-align: center;
}
.contactMethod li{
    margin-bottom: 16px;
}
.contactMethod img{
    margin-left: 24px;
}